@media (max-aspect-ratio: 1280/720) {
  #videoTron {
    height: 100vh;
    width: auto;
  }
}

@media (max-width: 991px) {
  .github-link {
    padding-left: 0;
  }
}

/* @media (max-width: 860px) {
  .parallax1 {
    background-image: url("../img/CineGrub_small.png");
  }

  .parallax2 {
    background-image: url("../img/Schedulr_small.png");
  }

  .parallax3 {
    background-image: url("../img/ThronesRPG_small.png");
  }
} */

@media (max-width: 767px) {
  #headingOne,
  #headingTwo {
    text-align: center !important;
  }
}

@media (max-width: 563px) {
  #projectsTitle {
    text-align: center !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 484px) {
  #skillsTitle,
  #aboutMeTitle,
  #skillsTitle,
  #projectsTitle,
  #projectWorksTitle,
  #contactTitle {
    font-size: 26px !important;
  }
}

@media (max-width: 481px) {
  #projectsTitle {
    font-size: 25px !important;
    text-align: center !important;
    padding-right: 0px !important;
  }
}

@media (max-width: 450px) {
  #projectWorksTitle {
    text-align: center !important;
    padding-right: 0 !important;
    margin-bottom: 38px;
  }
}

@media (max-width: 393px) {
  #skillsTitle,
  #aboutMeTitle,
  #skillsTitle,
  #projectsTitle,
  #projectWorksTitle,
  #contactTitle {
    font-size: 18px !important;
  }
}

@media (max-width: 344px) {
  .skillCategories {
    font-size: 21px !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
}
